<p id="notice"><%= notice %></p>

<h1>Bookmarks (<%= current_user.bookmarks.size %>)</h1>

<p>
  <%= render "documents/result_toggle" %>
  <%= render "documents/result_selected_options" %>
  <span class='float-right'>
    <%== pagy_bootstrap_nav(@pagy) %>
  </span>
</p>

<hr/>

<%= render "documents/result_selection_options" %>

<ol id='results' class='list-unstyled' data-controller='results'>
  <% @bookmarks.each_with_index do |bookmark, index| %>
    <%= render 'documents/document', document: bookmark.document, index: index %>
  <% end %>
</ol>
