<%= link_to 'Edit', edit_bulk_action_path(@bulk_action) %> |
<%= link_to 'Back', bulk_actions_path %>

<div class="row">
  <div class="col-md-6">
    <h1>Bulk Action</h1>
    <p>
      <strong>Change:</strong>
      <%= @bulk_action.field_name %>
      <% if @bulk_action.field_name != "Delete" %>
        /
        <strong>To:</strong>
        <%= @bulk_action.field_value %></p>
      <% end %>
    <p>
      <strong>Notes:</strong>
      <%= @bulk_action.notes %></p>

    <p>
      <strong>Scope:</strong>
      <%= @bulk_action.scope %></p>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header text-center">
        <h3 class="h5">Documents</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <%= @bulk_action.documents.size %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header text-center">
        <h3 class="h5">Bulk Action</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">
          <% if @bulk_action.state_machine.current_state == 'created' %>
            <%= form_tag run_bulk_action_path(@bulk_action), method: :patch do -%>
              <%= hidden_field_tag :run, true -%>
              <%= submit_tag 'Run Bulk Action' -%>
            <%- end -%>
          <% else %>
            <%= @bulk_action.state_machine.current_state %>
            <% if @bulk_action.state_machine.current_state == 'complete' %>
              <%= form_tag revert_bulk_action_path(@bulk_action), method: :patch do -%>
                <%= hidden_field_tag :run, true -%>
                <%= submit_tag 'Revert Bulk Action' -%>
              <%- end -%>
            <%- end -%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-12">
    <h3 class="sr-only">Documents</h3>
    <h6>
      <span class='float-left mt-3'>
        <%== pagy_info(@pagy, 'documents'.pluralize(@pagy.count)) %>
      </span>
      <span class='float-right'>
        <%== pagy_bootstrap_nav(@pagy) %>
      </span>
    </h6>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rails/Database ID</th>
          <th>Aardvark ID</th>
          <th>View in...</th>
          <th>Version</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each_with_index do |doc, index| %>
          <tr>
            <td><%= doc.document_id %></td>
            <td>
              <%= doc.friendlier_id %>
            </td>
            <td>
              <%= link_to "GEOMG", document_url(doc.friendlier_id), { class: 'btn btn-primary' } %>
              <%= link_to "BTAA Geoportal", blacklight_link(doc), { class: 'btn btn-primary', target: :_blank } %>
            </td>
            <td><%= doc.version %></td>
            <td><%= doc.state_machine.current_state %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
