<%- if @document.persisted? %>
<h3 id="multiple-download-links"><%= link_to "Multiple Download Links", document_document_downloads_url(@document) %></h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th colspan="2">Actions</th>
        <th>Layer Slug</th>
        <th>Download Label</th>
        <th>Download URL</th>
      </tr>
    </thead>

    <tbody>
      <% @document.document_downloads.each do |document_download| %>
        <tr>
          <td><%= link_to 'Edit', edit_document_document_download_path(document_download.document, document_download) %></td>
          <td><%= link_to 'Destroy', document_document_download_path(document_download.document, document_download), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to document_download.friendlier_id, document_path(document_download.document) %></td>
          <td><%= document_download.label %></td>
          <td><%= link_to document_download.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
