<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%=root_url%>">
    <strong>G&middot;E&middot;O&middot;M&middot;G</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= form_tag(documents_path, { method: :get, class: "form-inline my-2 my-lg-0" }) do %>

    <div class="input-group">
      <input name="q" class="form-control" type="search" placeholder="Search documents" aria-label="Search" value="<%= params[:q] ? params[:q] : ''%>">
      <%- if params[:f].present? %>
        <%= params_as_hidden_fields(
            params
            .to_hash
            .with_indifferent_access
            .except(:q, :controller, :action, :commit)
          ) %>
      <% end %>

      <div class="input-group-append">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <%= link_to "Advanced", search_path, { class: 'dropdown-item' } %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to notifications_url, { class: 'nav-link' } do %>
            <%= "Notifications #{notifications_badge}".html_safe %>
          <% end %>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Documents", documents_path, {class: 'dropdown-item'} %>
          <%= link_to "Imports", imports_path, {class: 'dropdown-item'} %>
          <%= link_to "Bulk Actions", bulk_actions_path, {class: 'dropdown-item'} %>
          <div class="dropdown-divider"></div>
          <%= link_to "Access Links", document_accesses_path, {class: 'dropdown-item'} %>
          <%= link_to "Download Links", document_downloads_path, {class: 'dropdown-item'} %>
          <div class="dropdown-divider"></div>
          <%= link_to "Blazer", '/blazer', {class: 'dropdown-item', data: { turbolinks: false }} %>
          <div class="dropdown-divider"></div>
          <%= link_to "Elements", elements_path, {class: 'dropdown-item', data: { turbolinks: false }} %>
          <%= link_to "Form Elements", form_elements_path, {class: 'dropdown-item', data: { turbolinks: false }} %>
          <div class="dropdown-divider"></div>
          <%= link_to "Users", users_index_path, {class: 'dropdown-item'} %>
        </div>
      <li class="nav-item">
        <%= link_to "Bookmarks", bookmarks_path, {class: 'nav-link'} if current_user %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to(current_user.email, edit_user_registration_path, {class: 'nav-link'}) %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, { :method => :delete, class: 'nav-link'} %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Sign in', new_user_session_path, {class: 'nav-link'}) %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
