<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%=root_url%>">
    <strong>G&middot;E&middot;O&middot;M&middot;G</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= form_tag(documents_path, { method: :get, class: "form-inline my-2 my-lg-0" }) do %>
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search documents" aria-label="Search" value="<%= params[:q] ? params[:q] : ''%>">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item">
        <%= link_to "Documents", documents_path, {class: 'nav-link'} %>
      </li>
      <li class="nav-item">
        <%= link_to "Imports", imports_path, {class: 'nav-link'} %>
      </li>
      <li class="nav-item">
        <%= link_to "Users", users_index_path, {class: 'nav-link'} %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to(current_user.email, edit_user_registration_path, {class: 'nav-link'}) %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, { :method => :delete, class: 'nav-link'} %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Sign in', new_user_session_path, {class: 'nav-link'}) %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
