<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%=root_url%>">
    <strong>GEOMG</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= form_tag(documents_path, { method: :get, class: "form-inline my-2 my-lg-0" }) do %>
    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="<%= params[:q] ? params[:q] : ''%>">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('My Account', edit_user_registration_path, {class: 'nav-link'}) %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, { :method => :delete, class: 'nav-link'} %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Sign in', new_user_session_path, {class: 'nav-link'}) %>
        </li>
        <li class="nav-item">
          <%= link_to('Sign up', new_user_registration_path, {class: 'nav-link'}) %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
