<h6>
  <span class='float-left mt-3'>
    <%== pagy_info(@pagy_success, 'successful documents'.pluralize(@pagy_success.count)) %>
  </span>
  <span class='float-right'>
    <%== pagy_bootstrap_nav(@pagy_success) %>
  </span>
</h6>

<table class="table table-striped">
  <thead>
    <tr>
      <th>State</th>
      <th>Title</th>
      <th>Identifier</th>
    </tr>
  </thead>
  <tbody>
    <% @import_success_documents.each_with_index do |doc, index| %>
      <tr>
        <td>
          <span class="badge badge-success">
            <%= doc.state_machine.current_state %>
          </span>
        </td>
        <td><%= doc.title %></td>
        <td><%= doc.friendlier_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
