<p id="notice"><%= render "shared/flash_messages" %></p>

<h1>Imports</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Filename</th>
      <th>Source</th>
      <th>Description</th>
      <th>Row count</th>
      <th>Encoding</th>
      <th>Content type</th>
      <th>Extension</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.name %></td>
        <td><%= import.filename %></td>
        <td><%= import.source %></td>
        <td><%= import.description %></td>
        <td><%= import.row_count %></td>
        <td><%= import.encoding %></td>
        <td><%= import.content_type %></td>
        <td><%= import.extension %></td>
        <td><%= link_to 'Show', import_path(import) %></td>
        <td><%= link_to 'Edit', edit_import_path(import) %></td>
        <td><%= link_to 'Destroy', import_path(import), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import', new_import_path %>
