<p id="notice"><%= notice %></p>

<h1>Import</h1>

<p>
  <strong>Name:</strong>
  <%= @import.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @import.source %>
</p>


<p>
  <strong>Description:</strong>
  <%= @import.description %>
</p>

<hr>

<p>
  <strong>Filename:</strong>
  <%= @import.filename %> (<%= @import.content_type %>)
</p>

<p>
  <strong>Row count:</strong>
  <%= @import.row_count %>
</p>

<p>
  <strong>Headers:</strong>
  <%= @import.headers %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Delimited?</th>
      <th>Transformation Method</th>
    </tr>
  </thead>
  <tbody>
    <%- @import.mappings.each do |mapping| %>
      <tr>
        <td><%= mapping.source_header %></td>
        <td><%= mapping.destination_field %></td>
        <td><%= mapping.delimited %></td>
        <td><%= mapping.transformation_method %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
