<% bookmarked = current_user.document_is_bookmarked?(document) ? 'bookmarked' : '' %>

<% if document.respond_to?('friendlier_id') %>
  <%= content_tag :li, id: document.friendlier_id, class: bookmarked do %>
    <%= check_box_tag nil, nil, false, data: { id: document.friendlier_id, action: 'click->results#checkChecked'}%>

    <%= render 'documents/document_bookmark', document: document %>

    <%= "#{@documents.meta['pages']['offset_value'] + index + 1}." if @documents %>

    <%= link_to document.title, edit_document_path(document.friendlier_id) %>
    &middot; <%= publication_state_badge(document) %>

    <% if document.send("schema_provider_s") %>
      &middot; <%= document.send("schema_provider_s") %>
    <% end %>
    <% if document.send("dct_temporal_sm") %>
      &middot; <%= document.send("dct_temporal_sm").join("-") %>
    <% end %>
    <% if document.send("dct_description_sm").present? %>
      <p class="js-truncate"><%= document.send("dct_description_sm").join %></p>
    <% end %>

  <% end %>
<% else %>
  <li>
    <p><strong>Missing from database: </strong><%= document.inspect %></p>
  </li>
<% end %>
