<% bookmarked = current_user.document_is_bookmarked?(document) ? 'bookmarked' : '' %>

<% if document.respond_to?('friendlier_id') %>
  <%= content_tag :li, id: document.friendlier_id, class: bookmarked do %>
    <%= check_box_tag nil, nil, false, data: { id: document.friendlier_id, action: 'click->results#checkChecked'}%>

    <%= render 'documents/document_bookmark', document: document %>

    <%= "#{@documents.meta['pages']['offset_value'] + index + 1}." if @documents %>

    <%= link_to document.title, edit_document_path(document.friendlier_id) %>
    &middot; <%= publication_state_badge(document) %>
    <% if document.send(GEOMG_SOLR_FIELDS[:provider]) %>
      &middot; <%= document.send(GEOMG_SOLR_FIELDS[:provider]) %>
    <% end %>
    <% if document.send(GEOMG_SOLR_FIELDS[:temporal_coverage]) %>
      &middot; <%= document.send(GEOMG_SOLR_FIELDS[:temporal_coverage]).join("-") %>
    <% end %>
    <% if document.send(GEOMG_SOLR_FIELDS[:description]).present? %>
      <p class="js-truncate"><%= document.send(GEOMG_SOLR_FIELDS[:description]).join %></p>
    <% end %>

  <% end %>
<% else %>
  <li>
    <p><strong>Missing from database: </strong><%= document.inspect %></p>
  </li>
<% end %>
