<div class="make-me-sticky mt-4 ml-4">
  <nav class="nav flex-column ml-4 mt-6">
    <strong class="mt-4"><%= link_to "View in Geoportal", blacklight_link(@document), { class: 'mt-6', target: :_blank } %></strong>

    <%- form_elements = FormElement.all.order(position: :asc) %>
    <%- form_elements.each do |form_element| %>
      <% if form_element.kind_of? FormHeader %>
        <strong class="mt-2"><a data-controller="scroll-to" class="mt-4" href="#<%= form_element.label.parameterize(separator: '-') %>"><%= form_element.label %></a></strong>
      <% end %>
      <% if form_element.kind_of? FormGroup %>
        <a data-controller="scroll-to" class="ml-2" href="#<%= form_element.label.parameterize(separator: '-') %>"><%= form_element.label %></a>
      <% end %>
    <% end %>

    <% if @document.persisted? %>
      <%= link_to "Institutional Access Links", document_document_accesses_url(@document), class: "ml-2" %>
      <%= link_to "Multiple Download Links", document_document_downloads_url(@document), class: "ml-2" %>
      <%= link_to "Additional Assets", document_document_assets_url(@document), class: "ml-2" %>
    <% end %>
  </nav>
</div>
