<%= kithe_form_for(document, :html=> { novalidate: true, class: 'edit-document edit' }) do |f| %>

  <div class="row">
    <div class="col-md-12">
      <div class="admin-header sticky-top d-flex justify-content-between p-2 mb-4 mt-1 bg-light border">

        <div class="mr-2">
          <h1 class="h5">
            <% if @document.persisted? %>
              <i>Editing</i> <%= truncate(@document.title, length: 80) %> <i>(<%= @document.friendlier_id %>)</i>
              <i><%= link_to "View", blacklight_link(document), target: :_blank %></i>
            <% else %>
              New document
            <% end %>
          </h1>
        </div>

        <div class="form-actions">
          <%= link_to 'Cancel', documents_url, class: "btn btn-outline-primary" %>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      </div>

      <% if @document.errors.any? %>
        <div class="kithe-form-errors-top alert alert-danger mb-4" role="alert"">
          <h2 class="h4" class="alert-heading"><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved</h2>
          <ol class="mb-0">
            <% @document.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ol>
        </div>
      <% end %>

      <div class="row">
        <div id="form-fields" class="col-md-8">
          <%= render "document_fields", f: f %>
        </div>
        <div id="form-navigation" class="col-md-4">
          <%= render "form_nav" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
