<span id="result-selected-options" class="hidden" data-scope="pageset" data-controller="results" data-resultset="<%= documents_path( params.to_unsafe_h.merge({rows: '1000000'})) %>" data-pageset="/fetch?">

  <%= form_with(model: BulkAction.new, html: { id: 'result-action-form', data: { type: "html", action: "submit->results#setPubState" }, style: 'display:inline'}) do |form| -%>
    <%= form.hidden_field :scope, value: "-" %>
    <%= form.hidden_field :field_name, value: "" %>
    <%= form.hidden_field :field_value, value: "" %>
  <% end %>

  <span class="dropdown">
    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= inline_svg_tag "cloud-download-alt-solid.svg", class: 'icon baseline' %>
      Export
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" data-action="click->results#exportCSV" href="javascript:void(0);">
        CSV
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-action="click->results#exportJsonAardvark" href="javascript:void(0);">JSON (Aardvark)</a>
      <a class="dropdown-item" data-action="click->results#exportJsonBtaaAardvark" href="javascript:void(0);">JSON (BTAA Aardvark)</a>
      <a class="dropdown-item" data-action="click->results#exportJsonGBLv1" href="javascript:void(0);">JSON (GBL v1.0)</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-action="click->results#exportCsvDocumentDownloads" href="javascript:void(0);">
        CSV - Document Downloads
      </a>
      <a class="dropdown-item" data-action="click->results#exportCsvDocumentAccessLinks" href="javascript:void(0);">
        CSV - Document Access Links
      </a>
    </div>
  </span>

  <span class="dropdown">
    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= inline_svg_tag "file-import-solid.svg", class: 'icon baseline' %>
      State
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" data-action="click->results#setPubFieldNameValue" href="javascript:void(0);">Published</a>
        <a class="dropdown-item" data-action="click->results#setPubFieldNameValue" href="javascript:void(0);">Unpublished</a>
        <a class="dropdown-item" data-action="click->results#setPubFieldNameValue" href="javascript:void(0);">Draft</a>
    </div>
  </span>

  <span>
    <a class="btn btn-sm btn-outline-primary" data-action="click->results#bulkActionDelete" href="javascript:void(0);">
      <%= inline_svg_tag "trash-alt-solid.svg", class: 'icon baseline' %>
      Delete
    </a>
  </span>

  <!--<span>
    <a class="btn btn-sm btn-outline-primary" data-action="click->results#bulkAction" href="javascript:void(0);">Bulk Action</a>
  </span>-->
</span>
