<% @documents.facets.each do |facet| %>
  <% if facet['type'] == 'facet' %>
    <h3 class="h5"><%= facet['attributes']['label'] %></h3>
    <ul class="list-unstyled">
      <%- facet['attributes']['items'].each do |item| %>
        <% agg = link_from_api(item) %>
        <li class="#{agg[:action']}">
          <%= link_to agg[:link] do %>
            <%= agg[:action] == 'add' ? "+" : "-" %>
            <%= item['attributes']['label'].titleize %> (<%= item['attributes']['hits'] %>)
            <%= agg[:action] == 'add' ? "" : "&#10060;".html_safe %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
