<%- @page_title= "Documents" %>

<h1 style="width:100%; margin-bottom:2rem;">
  Documents
  <%= link_to '+ New Document', new_document_path, {class: 'btn btn-primary float-right'} %>
</h1>

<div class="row">
  <div class="col-4">
    <%= render "result_facets" %>
  </div>

  <div class="col-8">
    <p>
      <%= render "result_toggle" %>
      <%= render "result_selected_options" %>
      <%= render "result_pagination" %>
    </p>

    <hr/>

    <%= render "result_selection_options" %>

    <ol id='results' class='list-unstyled' data-controller='results'>
      <% @documents.results.each_with_index do |document, index| %>
        <% doc = Document.find_by(friendlier_id: document['id']) %>
        <% if doc.present? %>
          <%= render "document", document: doc, index: index %>
        <% else %>
          <p><%= "#{index + 1}." %> Database is missing document <%= document['id'] %></p>
        <% end %>
      <% end %>
    </ol>

    <hr/>

    <p>
      <span class='float-right'>
        <%= previous_link(@documents.links) %>
        <%= next_link(@documents.links) %>
      </span>
    </p>
  </div>
</div>
