<%- @page_title= "Documents" %>

<h1 style="width:100%; margin-bottom:2rem;">
  Documents
  <%= link_to '+ New Document', new_document_path, {class: 'btn btn-primary float-right'} %>
</h1>

<div class="row">
  <div class="col-4">
    <% @documents.facets.each do |facet| %>
      <% if facet['type'] == 'facet' %>
        <h3 class="h5"><%= facet['attributes']['label'] %></h3>
        <ul class="list-unstyled">
          <%- facet['attributes']['items'].each do |item| %>
            <% agg = link_from_api(item) %>
            <li class="#{agg[:action']}">
              <%= link_to agg[:link] do %>
                <%= agg[:action] == 'add' ? "+" : "-" %>
                <%= item['attributes']['label'] %> (<%= item['attributes']['hits'] %>)
                <%= agg[:action] == 'add' ? "" : "&#10060;".html_safe %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="col-8">
    <!-- @TODO: result helpers -->
    <% result_start = @documents.meta['pages']['offset_value'] + 1 %>
    <% result_end = @documents.results.size + result_start - 1 %>

    <p>
      <span>
        <%= link_to(url_for(params.to_unsafe_h.merge({format: 'csv', rows: '1000000'})), {class: 'btn btn-sm btn-outline-primary'}) do %>
          <svg class="bi bi-cloud-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.887 5.2l-.964-.165A2.5 2.5 0 1 0 3.5 10H6v1H3.5a3.5 3.5 0 1 1 .59-6.95 5.002 5.002 0 1 1 9.804 1.98A2.501 2.501 0 0 1 13.5 11H10v-1h3.5a1.5 1.5 0 0 0 .237-2.981L12.7 6.854l.216-1.028a4 4 0 1 0-7.843-1.587l-.185.96z"/>
            <path fill-rule="evenodd" d="M5 12.5a.5.5 0 0 1 .707 0L8 14.793l2.293-2.293a.5.5 0 1 1 .707.707l-2.646 2.646a.5.5 0 0 1-.708 0L5 13.207a.5.5 0 0 1 0-.707z"/>
            <path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 6z"/>
          </svg>
          CSV
        <% end %>
        Results: <%= result_start %> - <%= result_end %> of <%= @documents.meta['pages']['total_count'] %>
      </span>
      <span class='float-right'>
        <span class="dropdown">
          <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by
          </button>
          <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% @documents.sorts.each do |sort| %>
              <%= sort_link(sort) %>
            <% end %>
          </span>
        </span>
        <%= previous_link(@documents.links) %>
        <%= next_link(@documents.links) %>
      </span>
    </p>

    <hr/>

    <ol class="list-unstyled">
    <% @documents.results.each_with_index do |document, index| %>
      <% document = Document.find_by(friendlier_id: document['id']) %>
      <%= render "document", document: document, index: index %>
    <% end %>
    </ol>

    <hr/>

    <p>
      <span class='float-right'>
        <%= previous_link(@documents.links) %>
        <%= next_link(@documents.links) %>
      </span>
    </p>
  </div>
</div>
