<%- @page_title= "Documents" %>

<h1 style="width:100%;">
  Documents
  <%= link_to 'New Document', new_document_path, {class: 'btn btn-primary float-right'} %>
</h1>

<div class="row">
  <div class="col-4">
    <% @documents.facets.each do |facet| %>
      <% if facet['type'] == 'facet' %>
        <h3 class="h5"><%= facet['attributes']['label'] %></h3>
        <ul class="list-unstyled">
          <%- facet['attributes']['items'].each do |item| %>
            <li>
              <%= link_to link_from_api(item) do %>
                <%= item['attributes']['label'] %> (<%= item['attributes']['hits'] %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="col-8">
    <p>Results: <%= @documents.meta['pages']['total_count'] %> </p>
    <ol>
    <% @documents.results.each_with_index do |document, index| %>
      <li>
        <%= link_to document['attributes']['dc_title_s']['attributes']['value'] , edit_document_path(document["id"]) %>
        <% if document['attributes']['dct_provenance_s'] %>
          &middot; <%= document['attributes']['dct_provenance_s']['attributes']['value'] %>
        <% end %>
        <% if document['attributes']['dct_temporal_sm'] %>
          &middot; <%= document['attributes']['dct_temporal_sm']['attributes']['value'] %>
        <% end %>
        <% if document['attributes']['dc_description_s'] %>
          <p><%= document['attributes']['dc_description_s']['attributes']['value'] %>
        <% end %>
        </p>
      </li>
    <% end %>
    </ol>
  </div>
</div>
