<p id="notice"><%= notice %></p>

<h1 style="width:100%;">
  Document &middot; Institutional Access
  <%= link_to '+ New Access URL', new_document_document_access_path(@document), { class: 'btn btn-primary float-right' } %>
</h1>
<h2 class='h3'><%= @document.title %></h2>

<h3>Import a CSV File</h3>
<%= simple_form_for @document, url: import_document_document_accesses_path, method: :post, multipart: true do |f| %>
  <div class="form-inputs">
    <%= f.input :friendlier_id, input_html: { value: @document.friendlier_id, readonly: true } %>
    <%= f.simple_fields_for :assets do |asset_fields| %>
      <%= asset_fields.input :file, as: :file, input_html: {} %>
    <%- end %>
  </div>

  <div class="form-actions">
    <%= submit_tag "Import CSV", {class: 'btn btn-primary'} %>
  </div>
<% end %>
