<%- @page_title = "GEOMG - Form Elements" %>

<h1 style="width:100%;">
  Form Elements
  <%= link_to '+ New Form Element', new_form_element_path, { class: 'btn btn-primary float-right' } %>
</h1>

<p class="alert alert-warning"><strong>Notice</strong> - This table defines the headings and fields on the <%= link_to 'Document', new_document_path %> form. To add a new field to your metadata schema, define an <%= link_to 'Element', elements_path %>.</p>

<table class="table table-striped table-bordered sortable">
  <thead class="thead-dark">
    <tr>
      <th class="header">Type</th>
      <th class="header">Label</th>
      <th class="header">Element</th>
      <th class="header">Reorder</th>
      <th class="header" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_elements.order(:position => :asc).each do |form_element| %>
      <tr data-id="<%=form_element.id%>">
        <td><%= form_element.type %></td>
        <td><%= form_element.label %></td>
        <td>
          <%- if form_element.element_solr_field.present? %>
            <%= Element.find_by(solr_field: form_element.element_solr_field)&.label %>
          <%- end %>
        </td>
        <td class="handle" style="text-align:center">&varr;</td>
        <td><%= link_to 'Show', form_element %></td>
        <td><%= link_to 'Edit', edit_form_element_path(form_element) %></td>
        <td><%= link_to 'Destroy', form_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ New Form Element', new_form_element_path, { class: 'btn btn-primary' } %>

<script>
  GEOMG.SortElements(
    $("tbody"),
    "<%= sort_form_elements_path %>"
  );
</script>
