<div class="form-row mb-2">
  <div class="form-group col-md-4">
    <label for="date-range">Date Range</label>
    <select id="date-range" name="created_at[range]" class="form-control" >
      <%- date_range_opts.each do |opt| %>
        <% if params[:created_at] && params[:created_at][:range] %>
          <% selected = params[:created_at][:range] == opt[:value] ? 'selected' : nil %>
        <% else %>
          <% selected = opt[:selected] %>
        <% end %>
        <option value="<%= opt[:value] %>" <%= selected %>>
          <%= opt[:display] %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="form-group col-md-3">
    <label for="start-date">Start Date</label>
    <input id="start-date" class="form-control" data-js="datepicker" name="created_at[start]" autocomplete="off" type="text" tabindex="1" value="<%= params[:created_at][:start] if params[:created_at] && params[:created_at][:start] %>" />
  </div>

  <div class="form-group col-md-3">
    <label for="start-date">End Date</label>
    <input id="end-date" class="form-control" data-js="datepicker" name="created_at[end]" autocomplete="off" type="text" tabindex="1" value="<%= params[:created_at][:end] if params[:created_at] && params[:created_at][:end] %>" />
  </div>
</div>
