<div>
  <%- @search.facets.each do |key, value| %>
    <div class="facet">
      <h5><%= I18n.t("facets.#{key}") %></h5>
      <ul style="list-style:none;padding-left:0;">
        <%- value.each_slice(2) do |facet_result| %>
          <%- facet_result.split.each do |name,total| %>
          <li>
            <%- agg = link_from_solr(key, name, total, params) %>
            <%= agg[:action] == 'add' ? "+" : "-" %>
            <%= link_to agg[:url] do %>
              <%=name %> (<%= number_with_delimiter(total) %>)
            <% end %>

            <span class="delta" data-toggle="tooltip" data-placement="right" title="<%= overview_facets(@search, @comparison)[key][name]['q2'] %>
            previously">
              <%= overview_facets(@search, @comparison)[key][name]['delta'] %>
            </span>

            <%= agg[:action] == 'add' ? "" : "&#10060;".html_safe %>
          </li>
          <%- end %>
        <%- end %>
      </ul>
    </div>
  <%- end %>

  <table class="table">
    <thead>
      <tr>
        <th>Facet</th>
        <th>Current</th>
        <th>Previous</th>
        <th>Delta</th>
    </thead>
    <tfoot>
      <tr>
        <td>Total</td>
        <td><%= number_with_delimiter(@search.num_found) %></td>
        <td><%= number_with_delimiter(@comparison.num_found) %></td>
        <td>
          <%= percent_change(@search.num_found, @comparison.num_found) %>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <%- @search.facets.each do |key, value| %>
        <tr>
          <td colspan='4'><%= I18n.t("facets.#{key}") %></td>
        </tr>
        <%- value.each_slice(2) do |facet_result| %>
          <%- facet_result.split.each do |name,total| %>
            <%- agg = link_from_solr(key, name, total, params) %>
            <tr>
              <td>
                <%= agg[:action] == 'add' ? "+" : "-" %>
                <%= link_to agg[:url] do %>
                  <%=name %>
                <% end %>
                <%= agg[:action] == 'add' ? "" : "&#10060;".html_safe %>
              </td>
              <td>
                <%= number_with_delimiter(total) %>
              </td>
              <td>
                <%= overview_facets(@search, @comparison)[key][name]['q2'] %>
              </td>
              <td>
                <%= overview_facets(@search, @comparison)[key][name]['delta'] %>
              </td>
            </tr>
          <%- end %>
        <%- end %>
      <%- end %>
    </tbody>
  </table>
</div>
