<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'GEOMG' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag 'application', defer: true  %>
    <%= javascript_pack_tag 'admin', defer: true %>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://releases.transloadit.com/uppy/v3.6.1/uppy.min.css">
  </head>

  <body data-locale="en">
    <%= render "shared/navbar" %>
    <div class="container-fluid">
      <%= render "shared/schema_timestamp" %>
      <%= render "shared/flash_messages" %>
      <div id="toast-wrapper" aria-live="polite" aria-atomic="true"></div>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
    <%= render "shared/js_behaviors" %>
  </body>
</html>
